
<div class="flex-container">
<div class="flex-col main">
  <div class="title">AMIT</div>
  <div class="main-content">
    <h1 class="huge-text font-effect-fire">Great taste meets great value!</h1>
  </div>
<div class="footer"></div>
</div>
<div class="flex-col activity-area">  
  <div class="flex-activity-box-container">
    <div class="raffle-title">Austrian Manner Schnitten <br> <br> Raffle</div>
    <div class="flex-alertz-box">
      <alert></alert>
       </div>
  <div class="flex-activity-box">
  <router-outlet></router-outlet>
  </div></div>
</div>

</div>
