.mannerlogo {
    margin: auto;
}

img {
    height: 300px;
    width: 300px;
}

.sideImage {
    height: 300px;
    width: auto;
    padding: 3px;
}

.textcontainer {
    padding: 10px;
}

.appContent {
    width: 100%;
}

.appView {

    color: aliceblue;
    font-weight: bold;
    position: fixed;
    align-content: center;
    padding: 20px;
    width: 30%;
    height: 45%;
    top: 35%;
    z-index: 999;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(31, 7, 3, 0.96), rgba(0, 255, 255, .2)),
        linear-gradient(to top, rgba(31, 7, 3, 0.96), rgba(0, 255, 255, .2));
}

.alertView {

    position: fixed;
    padding: 20px;
    width: 30%;
    height: 20%;
    bottom: 67%;
    z-index: 999;
}

@media only screen and (max-width: 959px) {
    [class="appView"] {
        width: 50%;
    }

    [class="alertView"] {
        width: 50%;
    }
}


@media only screen and (max-width: 599px) {
    [class="appView"] {
        width: 100%;
    }

    [class="alertView"] {
        width: 100%;
    }
}




@media only screen and (max-width: 889px) {
    .brandContainer {
        display: flex;
        flex-direction: column;
    }

    .mannerlogo {
        -ms-flex-order: 1;
        order: 1;
    }

    .textcontainer {
        -ms-flex-order: 2;
        order: 2;
    }

}