<div fxLayout='row' fxLayout.xs="row" fxLayout.xs="column" class="zero">

    <div fxFlex="70" [fxFlex.sm]=50 fxLayout='column'>

        <div fxFlex="0 1 auto" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="0 1 auto" class="mannerlogo">
                <img src="../../../assets/images/mannertorte_0.png.webp" alt="Manner Logo">
            </div>

            <div fxFlex="0 1 auto" fxLayout="column" fxLayoutAlign="center start" class="textcontainer">
                <h1>MANNER</h1>
                <p>
                    "Chocolate for everyone - great value and taste" was the motto of Josef Manner I. when he founded the confectionery dynasty in 1890. Manner is a company with a long tradition and the mission statement remains unchanged.

                    Learn more about the cocoa beans that are roasted in-house and the delicious new creations … always true to the guideline: "The Taste of Vienna”.
                </p>
            </div>
        </div>

        <div fxFlex="0 1 auto" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

            <div fxFlex="0 1 auto" fxLayout="column" fxLayoutAlign="center end" [fxFlexOrder.sm]=2 [fxFlexOrder.xs]=2 class="textcontainer">
                <h1>CASALI</h1>
                <p>

                    The history of Casali reaches way back into the past. In 1782, Joseph Casali founded his company in the port city of Trieste, which was part of to the Austro-Hungarian monarchy. Since 1970, Casali belongs to the Josef Manner & Comp AG. Casali is famous for its delicious Rum-Kokos and fruity Chocolate Bananas.

                    “Welcome to Casali” - it is our pleasure to welcome you on a virtual island full of chocolate fruits and exotic chocolate dragées.
                </p>
            </div>

            <div fxFlex="0 1 auto" [fxFlexOrder.sm]=1 [fxFlexOrder.xs]=1 class="mannerlogo">
                <img src="../../../assets/images/manner_tiramisu.png.webp" alt="Manner Logo">
            </div>
        </div>

        <div fxFlex="0 1 auto" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="0 1 auto" class="mannerlogo">
                <img src="../../../assets/images/cakey.jpeg" alt="Manner Logo">
            </div>

            <div fxFlex="0 1 auto" fxLayout="column" fxLayoutAlign="center start" class="textcontainer">
                <h1>NAPOLI</h1>
                <p>
                    Napoli offers premium products for everyone who appreciates a reasonable price. There is no dedicated online appearance for Napoli at this time.

                    Dragee Keksi by Napoli play a very special role in the Napoli product range. Therefore, they have their very own online appearance that does this Austrian classic its justice in the most entertaining way. Get to know the motto of Dragee Keksi „wenn ich nur aufhör’n könnt“, which translates to „if only I could stop“. With the hastag #winak, Dragee Keksi are up to a never ending fun time in the digital world!

                    Apart from Dragee Keksi, Napoli mainly offers wafers, like the Napoli wafer block.
                </p>
            </div>
        </div>
    </div>

    <div fxFlex="30" [fxFlex.sm]=50 fxLayout='column'>

        <div class="alertView" fxLayoutAlign="center end">
            <alert></alert>
        </div>
        <div class="appView">
            <div class="appContent">
                <router-outlet></router-outlet>
            </div>
        </div>
        <img class="sideImage" src="../../../assets/images/cake-cut.jpeg">
        <img class="sideImage" src="../../../assets/images/chocolate-cake.jpeg">
        <img class="sideImage" src="../../../assets/images/sliced-bread.jpg">
        <img class="sideImage" src="../../../assets/images/sliced-cake.jpg">
        <img class="sideImage" src="../../../assets/images/fruity-things.jpeg">
        <img class="sideImage" src="../../../assets/images/cakey.jpeg">
        <img class="sideImage" src="../../../assets/images/cakecut.jpeg">
        <img class="sideImage" src="../../../assets/images/manner_utz_teaser_2.jpg.webp">
        <img class="sideImage" src="../../../assets/images/napoli_markenlogo.jpg.webp">
        <img class="sideImage" src="../../../assets/images/2779_orangen_herzen_beutel_300g_ft_1.png.webp">
        <img class="sideImage" src="../../../assets/images/60427_original-neapolitaner-schnitten_75g_ft_9.png.webp">
        <img class="sideImage" src="../../../assets/images/manner_tiramisu.png.webp">
        <img class="sideImage" src="../../../assets/images/manner_markenlogo_0.jpg.webp">

    </div>

</div>