<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group"><label for="phone">Phone</label>
        <input type="text" required class="form-control" id="phone" name="phone" [(ngModel)]="model.phoneNumber">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" required class="form-control password" id="password" name="password" [(ngModel)]="model.password">
    </div>
    <div class="">
        <button class="btn btn-primary">Login</button>
        <p class=""><label><br>Or</label><br><a routerLink="/register">
                <button class="btn btn-primary">Sign-up</button></a></p>

    </div>
</form>